body {
  font-family: sans-serif;
  padding: 1em;
  margin: auto;
  max-width: 120ex;
  min-width: 50em;
  background-color: white;
  color: black;
  line-height: 1.5;
}

pre {
  overflow: auto;
  background-color: lightgrey;
  color: #222222;
  padding: 0.1em;
  border: 0.05em solid #AAAAAA;
}

a {
  color: #8A6B52;
  text-decoration: none;
}

a:hover {
  color: #AE8767;
}

p {text-align: justify;}

code {
  font-family: monospace;
  color: #444444;
}

#blog-title {
  margin: 0 0 1em 0;
  padding: 0.3em;
  background-color: #700000;
  text-align: center;
}

#blog-title a {
  color: white;
}

#sidemenu {
  float: left;
  width: 10em;
}

#rightmenu {
  float: right;
  width: 16em;
}

#sidemenu>*, #rightmenu>* {
  margin: 1em;
  font-size: 80%;
}

#sidemenu ul, #rightmenu ul {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

#sidemenu h3, #rightmenu h3 {
  font-size: 110%;
  font-weight: normal;
  padding: 0em;
  margin: 0em;
}

#older-posts li {
  padding: 0.5em 0em;
  border-style: solid;
  border-width: 0 0 1px 0;
}

#main {
  padding-left: 9em;
  padding-right: 15em;
}

.post {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.post-title {
  background-color: #FCF9F9;
  border: 0.05em solid #D6CDBB;
  padding: 0;
}

.post-title h2 {
  text-align: left;
  margin: 0.1em;
  padding: 0.1em;
  font-size: 130%;
}

.post-infos {
  margin: 0.4em 0.4em 0 0.4em;
}

.post-infos p {
  margin: 0;
  padding: 0;
  font-size: 70%;
}

.post-content {
  margin: 0 0.4em;
}

.post-content p {
  margin: 0.5em 0;
}

.post-content h3 {
  color: #444444;
  margin-bottom: 0.5em;
}
